<h3>Sessions</h3>

<ul class="thumbnails sessions">
  <% @sessions.each do |session| %>
    <%= render :partial => 'shared/session', :object => session %>
  <% end %>
</ul>

<div class="pagination pagination-right"><%= paginate @sessions %></div>
