<h2>Sessions</h2>

<ul class="thumbnails sessions">
  <% @sessions.each do |session| %>
    <%= render :partial => 'shared/session', :object => session %>
  <% end %>
</ul>
<% if admin? %>
  <%= link_to 'New Session', new_session_path, :class => "btn btn-primary btn-mini new-button" %>
<% end %>
<%= paginate @sessions %>
