<h2>Beats</h2>
<ul class="thumbnails beats">
  <% @tracks.each do |track| %>
    <%= render :partial => 'shared/track', :object => track %>
  <% end %>
</ul>
<div class="pagination pagination-right"><%= paginate @tracks %></div>
