<div class="media response">
  <%= link_to member_profile_path(@current_member), :title => @current_member.name, :class => 'pull-left' do %>
    <%= image_tag @current_member.image(:small), :alt => @current_member.name %>
  <% end %>
  <div class="media-body control-group">
    <%= text_area :response, :body, :placeholder => "Add a comment...", :rows => 2 %>
  </div>
</div>
<div class="pull-right">
  <button data-trigger="post" type="submit" class="btn btn-primary pull-right">Post</button>
</div>
