<h3>Discussions</h3>
<% @discussions.each do |discussion| %>
  <%= render :partial => 'shared/discussion', :object => discussion %>
<% end %>
<div class="pagination pagination-right"><%= paginate @discussions %></div>
<br />
<% if signed_in? %>
<%= link_to 'New discussion', new_discussion_path %>
<% end %>
