<div id="footer">
  <div class="container">
    <span class="credit">&copy; Sensori Collective <%= Time.now.year %></span>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a href="http://blog.sensoricollective.com">Blog</a>
    <span>&nbsp;//&nbsp;</span>
    <a href="/about">About</a>
    <span>&nbsp;//&nbsp;</span>
    <a href="/about#contact">Contact</a>
  </div>
</div>
