<div class="well well-small join-message">
  <span><strong>Make beats?</strong> Join the community!</span>
  <%= image_tag "http://connect.soundcloud.com/2/btn-connect-m.png", :class => "soundcloud-connect" %>
</div>