<div class="well well-small join-message">
  <span><strong>Make beats?</strong> Join the community!</span>
  <%= link_to image_tag("http://connect.soundcloud.com/2/btn-connect-m.png", :class => 'soundcloud-connect'), members_sign_in_path %>
</div>
