<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Sensori</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/beats">Beats</a></li>
          <li><a href="/discussions">Discussions</a></li>
          <li><a href="/tutorials">Tips/Tutorials</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <a href="#"><%= image_tag "http://connect.soundcloud.com/2/btn-connect-m.png", :class => 'soundcloud-connect pull-right' %></a>
      </div>
    </div>
  </div>
</div>