<div class="control-group attachment-buttons">
  <button class="btn fileinput-button">
    <i class="icon-plus"></i> Add Image
    <%= imageUploaderForm %>
  </button>
  <span class="help-inline" style="display:none;">Please attach gif, png, or jpg images</span>
</div>

<div class="progress progress-striped active" style="display:none">
  <div class="bar progress-bar"></div>
</div>

<ul class="thumbnails"></ul>