<label>Edit Title</label>
<input type="text" class="input-medium media-title-input" />
<div class="buttons">
  <button class="btn btn-primary" data-trigger="save-media">Save</button>
  <button class="btn" data-trigger="remove-media">Remove</button>
</div>
