<label>Image Title</label>
<input type="text" class="input-medium image-title" />
<div class="buttons">
  <button class="btn btn-primary" data-trigger="save-image">Save</button>
  <button class="btn" data-trigger="remove-image">Remove</button>
</div>