<div class="row">
  <div class="span12">
    <h3>Latest Beats</h3>
    <ul class="thumbnails">
      <% tracks.each do |track| %>
        <li class="span3">
          <div class="thumbnail">
            <%= image_tag track.artwork_url %>
            <p><strong><%= track.member.name %></strong> - <%= track.title %></p>
          </div>
        </li>
      <% end %>
    </ul>
    <a href="/beats" class="pull-right">View more...</a>
  </div>
</div>
