<div class="row">
  <div class="span12">
    <h2>Latest Beats</h2>
    <ul class="thumbnails beats">
      <% tracks.each do |track| %>
        <%= render :partial => 'shared/track', :object => track %>
      <% end %>
    </ul>
    <%= link_to "View more...", beats_path, :class => "btn btn-inverse btn-mini pull-right" %>
  </div>
</div>
