<div class="row">
  <div class="span12">
    <h3>Latest Beats</h3>
    <ul class="thumbnails beats">
      <% tracks.each do |track| %>
        <%= render :partial => 'shared/track', :object => track %>
      <% end %>
    </ul>
    <a href="/beats" class="pull-right">View more...</a>
  </div>
</div>
