<div class="row">
  <div class="span12">
    <h3>Popular Tutorials</h3>
    <ul class="thumbnails">
      <% tutorials.each do |tutorial| %>
        <%= render :partial => 'shared/tutorial', :object => tutorial %>
      <% end %>
    </ul>
    <%= link_to "View more...", tutorials_path, :class => "btn btn-inverse btn-mini pull-right" %>
  </div>
</div>
