<div class="row">
  <div class="span12">
    <h2>Popular Tutorials</h2>
    <ul class="thumbnails tutorials">
      <% tutorials.each do |tutorial| %>
        <%= render :partial => 'shared/tutorial', :object => tutorial %>
      <% end %>
    </ul>
    <%= link_to raw("View more &raquo;"), tutorials_path, :class => "btn btn-inverse btn-mini pull-right" %>
  </div>
</div>
