<div class="row">
  <div class="span12">
    <h3>Recent Discussions</h3>
    <% discussions.each do |discussion| %>
      <%= render :partial => 'shared/discussion', :object => discussion %>
    <% end %>
    <%= link_to "View more...", discussions_path, :class => "btn btn-inverse btn-mini pull-right" %>
  </div>
</div>
