<%= render 'carousel' %>

<% if false %>
<%= render 'latest_playlist' %>
<script type="text/javascript">
$(function() {
  Sensori.LatestPlaylistView = new Sensori.Views.LatestPlaylist({
    el: $('#latest-playlist')
  }).render();
});
</script>
<% end %>

<div class="container">
	<div class="row">
	  <div class="bandcamp-playlist-container">
	    <h2>Latest Playlist - Otis Blue</h2>
	    <%= content_tag :iframe, nil, :class => "bandcamp-playlist", :src => "http://bandcamp.com/EmbeddedPlayer/album=1904546592/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/", :seamless => '' %>
	    </iframe>
	  </div>
	</div>
</div>

