<div class="row">
  <div class="span12">
    <h3>Latest Beats</h3>
    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail">
          <img id="play-button" src="https://i3.sndcdn.com/avatars-000016472677-6muvgt-t500x500.jpg?6422697">
          <p><strong>Five05</strong> - Know What I Mean</p>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img src="https://i3.sndcdn.com/artworks-000043098318-v2bjfa-t500x500.jpg?6422697">
          <p><strong>DJ Costanza</strong> - Poppins</p>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img src="https://i1.sndcdn.com/artworks-000046112840-l935su-t500x500.jpg?6422697">
          <p><strong>Envision</strong> - Only Fools</p>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img src="https://i1.sndcdn.com/artworks-000045592514-lp41y3-t500x500.jpg?6422697">
          <p><strong>Five05</strong> - Snow White</p>
        </div>
      </li>
    </ul>
    <a href="/beats" class="pull-right">View more...</a>
  </div>
</div>
