<div class="logo">
	<div class="inner">
		<h1>Knowledge.</h1>
		<h1>Beats.</h1>
		<h1>Life.</h1>

		<%= form_for @prelaunch_signup do |f| %>
			<%= f.text_field :email, :size => nil, :class => "email", :type => "email", :placeholder => "Email Address" %>
			<%= f.submit "OK", :class => 'blue-button' %>
		<% end %>
	</div>
</div>
