<h3>Tutorials</h3>

<ul class="thumbnails tutorials">
  <% @tutorials.each do |tutorial| %>
    <li class="span4">
      <%= link_to tutorial do %>
      <div class="thumbnail">
        <%= image_tag tutorial.youtube_image_url %>
        <p><%= tutorial.description %></p>
      </div>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="pagination pagination-right"><%= paginate @tutorials %></div>
