<h3>Tutorials</h3>

<ul class="thumbnails tutorials">
  <% @tutorials.each do |tutorial| %>
    <%= render :partial => 'shared/tutorial', :object => tutorial %>
  <% end %>
</ul>

<div class="pagination pagination-right"><%= paginate @tutorials %></div>
