<h3>Tutorials</h3>

<ul class="thumbnails tutorials">
  <% @tutorials.each do |tutorial| %>
    <%= render :partial => 'shared/tutorial', :object => tutorial %>
  <% end %>
</ul>
<% if admin? %>
  <%= link_to 'New Tutorial', new_tutorial_path, :class => "btn btn-primary btn-mini new-button" %>
<% end %>
<div class="pagination pagination-right"><%= paginate @tutorials %></div>
