<h2><%= title "Tutorials" %></h2>

<ul class="thumbnails tutorials">
  <% @tutorials.each do |tutorial| %>
    <%= render :partial => 'shared/tutorial', :object => tutorial %>
  <% end %>
</ul>
<% if signed_in? %>
  <%= link_to 'New Tutorial', new_tutorial_path, :class => "btn btn-primary btn-mini new-button" %>
<% end %>
<%= paginate @tutorials %>
