<h3>Tutorials</h3>

<ul class="thumbnails tutorials">
  <% @tutorials.each do |tutorial| %>
    <li class="span4">
      <div class="thumbnail">
        <%= content_tag :iframe, nil, :type => "text/html", :width => "360", :height => "270", :src => tutorial.video_url, :frameborder => "0" %>
        <p><%= link_to tutorial.description, tutorial %></p>
      </div>
    </li>
  <% end %>
</ul>

<div class="pagination pagination-right"><%= paginate @tutorials %></div>
