<li class="<%= active_if(current_page.first?) %>">
<%= 
  link_to_unless(current_page.first?, raw("&lsaquo;"), url, :rel => 'prev', :remote => remote) do |name|
    content_tag(:span, name)
  end
%>
</li>
