// Place all the styles related to the discussions controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

.discussions {
  .control-group {
    margin-bottom: 0px;
  }
  .response {
    textarea {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .discussion, .discussion-preview {
    textarea, input {
      width: 100%;
      margin-bottom: 5px;
    }
    select {
      margin-bottom: 5px;
    }
    input[type="checkbox"] {
      width: auto;
    }
    input[type="file"] {
      line-height: normal;
      height: auto;
      width: auto;
      margin-left: 5px;
    }
    textarea {
      height: auto;
    }
    .attachment-container {
      margin-bottom: 5px;

      .link-container, .progress {
        margin-top: 5px;
        margin-bottom: 0px;
      }
    }
  }

  .discussion-preview {
    .media-body {
      font-size: 13px;
    }
  }

  .categories {
    text-align: left;

    .active {
      a, span {
        background-color: #0088CC;
        border-color: #0088CC;
        color: white;
      }
    }
  }
}	
