// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: #666;
$dark-color: #494949;
$font-family: 'Arial';

body { 
	background:image-url('sensori-splash-bg.png') transparent top left repeat; 
	margin: 0;
	padding: 0;
	font-family: $font-family;
	color: $main-color; 
}

div.logo {
	background-image:image-url('sensori-splash-logo.png');
	background-repeat: no-repeat;
	width: 1041px;
	height: 641px;
	margin: auto; 
}

div.inner {
	margin: auto;
	padding-top: 425px;
	width: 200px;
	text-align: center;
}

h1 { 
	font-size: 20px;
	padding: 0; 
	margin: 0 0 4px 0; 
}

input.email {
	font-size: 14px; 
	border: 2px solid #686a68;
	box-shadow: 3px 3px 3px $main-color;
	padding: 4px;
	background-color: #c8cac8;
	margin-bottom: 4px;
	color: $dark-color;
}

input.stay-informed {
	font-family: $font-family;
	color: $dark-color; 
	font-size: 14px;
	background: none;
	border: none;
	cursor: pointer;
}
