// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: #000;
$dark-color: #000;
$font-family: 'Orator';

@font-face {
	font-family: $font-family;
	src: url('/assets/oratorstd-webfont.woff');
}

.home {
	width: 100%;
	height: 100%;
	background:image-url('bg-spotlight.png') #515151 50% -138px no-repeat; 
	margin: 0;
	padding: 0;
	font-family: $font-family;
	color: $main-color; 

	div.logo {
		background-image:image-url('sensori-s-logo.png');
		background-repeat: no-repeat;
		width: 430px;
		height: 366px;
		margin: 85px auto auto; 
	}

	div.inner {
		margin: auto;
		padding-top: 337px;
		width: 420px;
		text-align: center;
		margin-bottom: 50px;
	}

	h1 { 
		font-size: 17px;
		font-weight: lighter;
		letter-spacing: 2px;
		padding: 0; 
		margin: 0 0 4px 0;
	}

	input.email {
		width: 225px;
		font-size: 13px;
		padding: 6px 10px;
		height: 20px;
	}

	input.stay-informed {
	}

	form {
		padding-top: 30px;
	}
}

div.notice {
	background: #6699CC;
	color: #ffffff;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: auto;
	width: 300px;
	text-align: center;
	padding: 4px;
}
 
.blue-button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6699cc), color-stop(1, #4274a6) );
	background:-moz-linear-gradient( center top, #6699cc 5%, #4274a6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699cc', endColorstr='#4274a6');
	background-color:#6699cc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #515151;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #515151;
  cursor: pointer;
}.blue-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4274a6), color-stop(1, #6699cc) );
	background:-moz-linear-gradient( center top, #4274a6 5%, #6699cc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4274a6', endColorstr='#6699cc');
	background-color:#4274a6;
}.blue-button:active {
	position:relative;
	top:1px;
}

input {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #515151;
}
