// Place all the styles related to the tutorials controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
.tutorial {
  color: #000000;
  font-family: arial;
  text-transform: none;
  background-color: #fff;
  border-radius: 5px;
  background-color: #fff;

  img {
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
  }

}