<div class="attachment-buttons control-group">
	<span class="btn btn-success fileinput-button">
		<i class="icon-white icon-upload"></i> Upload Audio
		<%= uploadForm %>
	</span>
	<span class="help-inline" style="display:none;">Please submit an mp3 or wav file</span>
</div>

<div class="link-container">
	<% if (attachmentUrl) { %>
		<a href="<%= attachmentUrl %>" target="_blank"><%= attachmentName %></a>
	<% } %>
</div>

<div class="progress progress-striped active" style="display:none">
	<div class="bar progress-bar"></div>
</div>